@use 'styles/abstracts/_brpoint.scss';

.TeamSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 32px auto 0;
  @include brpoint.size(sm) {
    margin: 40px auto 0;
  }
  @include brpoint.size(md) {
    margin: 48px auto 0;
  }

  @include brpoint.size(lg) {
    margin: 80px auto 0;
  }
}
