@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_br.scss';

.input {
  position: relative;
  caret-color: colors.$green;

  .label {
    @include typeface.p3;
    color: colors.$input-blue;
    position: absolute;
    top: 15.5px;
    left: 16px;
    transition: all .15s ease-in-out;

    @include br.size(md) {
      height: 18px;
      top: 16px;
      left: 24px;
    }
  }

  .field {
    width: 100%;
    min-height: 178px;
    padding: 15.5px 16px 16px;
    background-color: colors.$background;
    @include typeface.p1;
    color: colors.$text-paragraph;
    border: 1px solid transparent;
    border-radius: 8px;
    resize: none;
    overflow: hidden;
    transition: all .2s ease-in-out;

    &:focus-visible {
      outline: none;
    }

    @include br.size(md) {
      padding: 42px 24px 24px;
      line-height: 150%;
    }
  }

  .errorField {
    @include typeface.footnote;
    color: colors.$error;
    margin-left: 10px;
    margin-right: 10px;
    height: 0;
    overflow-y: hidden;
    transition: all .2s ease-in-out;
  }

  &.invalid {
    .field {
      border-color: colors.$error;
    }

    .errorField {
      height: initial;
      margin-top: 4px;
    }
  }

  &.active {
    .label {
      color: colors.$input-blue;
      top: 8px;

      @include br.size(md) {
        top: 16px;
      }
    }

    .field {
      padding-top: 26px;

      @include br.size(md) {
        padding-top: 42px;
      }
    }
  }
}
