@use 'styles/abstracts/_br.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_typeface.scss';

.Headline {
	width: 100%;
  @include typeface.hero;
  color: colors.$text-headline;

  @include br.size(md) {
    font-size: 80px;
  }

  @include br.size(lg) {
    font-size: 94px;
    line-height: 100px;
  }
}
