@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_br.scss';

.Container {
  h1 {
    @include typeface.h1;
    color: colors.$text-headline;
    margin-bottom: 8px;
    margin-top: 64px;
    @include br.size(sm) {
      margin-bottom: 24px;
      margin-top: 0px;
    }
  }

  p {
    @include typeface.p1;
    color: colors.$text-paragraph;
  }

  &:nth-of-type(1) {
    grid-column: 2 / span 7;
    grid-row-start: 1;
    margin-top: 90px;

    @include br.size(sm) {
      margin-top: 40px;
    }

    @include br.size(md) {
      grid-column-end: span 6;
      margin-top: 64px;
    }

    @include br.size(lg) {
      margin-top: 40px;
    }
    @include br.size(xl) {
      margin-top: 60px;
    }

  }

  &:nth-of-type(2) {
    grid-column: 5 / span 7;
    grid-row-start: 2;

    @include br.size(md) {
      grid-column-end: span 6;
    }
  }

  &:nth-of-type(3) {
    grid-column: 3 / span 8;
    grid-row-start: 3;

    @include br.size(sm) {
      margin-bottom: 32px;
    }

    @include br.size(md) {
      grid-column: 4 / span 6;
      margin-bottom: 32px;
    }

    @include br.size(lg) {
      margin-bottom: 80px;
    }
  }
}
