@use 'styles/abstracts/_brpoint.scss';

.Container {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 56px;
  display: flex;
  justify-content: flex-end;
  @include brpoint.size(sm) {
    margin-top: 48px;
    margin-bottom: 72px;
  }
  @include brpoint.size(md) {
    margin-top: 83px;
    margin-bottom: 82px;
  }
  @include brpoint.size(lg) {
    margin-top: 115px;
    margin-bottom: 111px;
  }
  @include brpoint.size(xl) {
    margin-bottom: 104px;
  }
}

.FormWrapper {
  width: 100%;
  @include brpoint.size(sm) {
    width: 50%;
  }
}

.Form {
  width: 80%;
  display: flex;
  flex-direction: column;

  & > div {
    margin-bottom: 24px;
  }

  input[class^="Button_cta"] {
    margin-top: 40px;
  }
}
