@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_fonts.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_br.scss';

.Container {
  margin-top: 10px;

  @include br.size(sm) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, max-content);
    gap: 33px 24px;
  }

  @include br.size(md) {
    margin-top: 136px;
  }

  @include br.size(lg) {
    margin-top: 120px;
  }

  @include br.size(xl) {
    margin-top: 50px;
  }

  .Headline {
    grid-column: 1 / span 12;
    grid-row-start: 1;
    @include fonts.goudy-regular;
    @include typeface.hero;
    color: colors.$text-headline;
    position: relative;

    @include br.size(hero) {
      margin: 0;
      width: auto;
    }

    span {
      @include fonts.reckless-bold-italic;
      @include typeface.hero-span;
      position: relative;
    }

    .HeadlinePart {
      @include br.size(md) {
        position: absolute;
        bottom: -100px;
        right: 13%;
      }

      @include br.size(lg) {
        right: 20%;
        bottom: -130px;
      }
    }
  }
  .Description {
    grid-column: 1 / span 10;
    grid-row-start: 2;
    @include typeface.p1;
    color: colors.$text-paragraph;
    margin-top: 24px;

    @include br.size(sm) {
      margin-top: 0;
    }
    @include br.size(md) {
      grid-column-end: span 6;
    }

    @include br.size(lg) {
      grid-column-end: span 5;
    }
  }
}
