@use 'styles/abstracts/_brpoint.scss';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: "AkkuratLL", Helvetica, sans-serif;

  &.lock-scroll {
    overflow-y: hidden;

    @include brpoint.size(md) {
      overflow-y: visible;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  position: relative;
  padding-top: 58.25px;

  @include brpoint.size(md) {
    padding-top: 90px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
