@use 'styles/abstracts/_br.scss';
@use 'styles/abstracts/_colors.scss';

.Button {
  padding: 16px 40px;
  margin: 24px 0 0 0;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  transition: border .5ms ease-in-out;

  @include br.size(md) {
    margin: 32px 0 0 0;
    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: colors.$green;
    color: colors.$text-headline;

    &:hover {
      border: 1px solid colors.$green;
    }
  }

  &.secondary {
    background-color: #86C1FF;

    &:hover {
      border-color: #86C1FF;
    }
  }

  &.dark {
    background-color: colors.$text-headline;
    color: #FFFFFF;

    &:hover {
      border: 1px solid colors.$text-headline;
    }
  }

  &:active {
    transform: scale(.95);
  }
}
