@use "styles/abstracts/_br.scss";
@use "styles/abstracts/_colors.scss";

.Button {
  padding: 1em 2em;
  border-radius: 5em;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  transition: border 0.5ms ease-in-out;

  @include br.size(md) {
    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: #9f73ab;
    color: #fff;

    &:hover {
      transform: scale(1.01);
      opacity: 0.8;
    }
  }

  &.secondary {
    background-color: #a3c7d6;

    &:hover {
      transform: scale(1.01);
      opacity: 0.8;
    }
  }

  &.dark {
    background-color: colors.$text-headline;
    color: #ffffff;

    &:hover {
      transform: scale(1.01);
      opacity: 0.8;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
