@use 'styles/abstracts/_br.scss';
@use 'styles/abstracts/colors.scss';

.container {
  position: relative;
  width: 100%;
  margin-top: 10px;
  max-width: 100vw;
  overflow: hidden;
  @include br.size(sm) {
  }
  @include br.size(md) {
    height: 100px;
  }

  @include br.size(lg) {
    height: 114px;
  }
}

.Subheadline {
  font-family: goudy-old-style, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 1;
  width:100%;
  margin:0 auto;
  white-space: nowrap;
  animation: move 25s infinite linear;
  padding-left: 50%; /*Initial offset*/
  color: colors.$text-subline;
  @include br.size(sm) {
    font-size: 80px;
  }
  @include br.size(md) {
    font-size: 100px;
  }

  @include br.size(lg) {
    font-size: 114px;
  }
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}