$green: #AAFFC4;
$pink: #FFF2F2;
$peach: #FFD2BA;
$blue: #E7EFFF;
$grey: #E8EBEE;
$background: #F8F9FA;

$text-headline: #152E4A;
$text-subline: #D0D5DB;
$text-paragraph: #71849D;
$input-blue: #7BB9FF;