$green: #AAFFC4;
$pink: #FFF2F2;
$peach: #FFD2BA;
$blue: #E7EFFF;
$grey: #E8EBEE;
$background: #F8F9FA;
$error: #ED174A;

$text-headline: #152E4A;
$text-subline: #D0D5DB;
$text-paragraph: #71849D;
$input-blue: #7BB9FF;

$linear-green: linear-gradient(264.27deg, #D3FF6F 0%, #9AFFDB 95.8%);
$linear-purplepeach: linear-gradient(270deg, #FFD2BA 0%, rgba(39, 34, 251, 0.64) 100%);
$angular-pp: conic-gradient(from 270deg at 50% 50%, #5BCEFF 0deg, rgba(54, 25, 230, 0.51) 360deg);
$angular-purplepeach: conic-gradient(from 270deg at 50% 50%, #FFD2BA 0deg, rgba(54, 25, 230, 0.51) 360deg);
