$green: #aaffc4;
$pink: #fff2f2;
$peach: #ffd2ba;
$blue: #e7efff;
$grey: #e8ebee;
$background: #f8f9fa;
$error: #ed174a;

$text-headline: #3f3b6c;
$text-paragraph: #624f82;
$input-blue: #7bb9ff;

$linear-green: linear-gradient(264.27deg, #d3ff6f 0%, #9affdb 95.8%);
$linear-purplepeach: linear-gradient(
  270deg,
  #ffd2ba 0%,
  rgba(39, 34, 251, 0.64) 100%
);

$sun-peach: #ffd2ba;
$sun-purplepeach: conic-gradient(
  from 270deg at 50% 50%,
  #ffd2ba 0deg,
  rgba(54, 25, 230, 0.51) 360deg
);
$sun-blue: conic-gradient(
  from 270deg at 50% 50%,
  #5bceff 0deg,
  rgba(54, 25, 230, 0.51) 360deg
);
