@mixin akkurat {
  font-family: 'AkkuratLL', Helvetica, sans-serif;
}

@mixin akkurat-black {
  @include akkurat;
  font-weight: 900;
}

@mixin akkurat-bold {
  @include akkurat;
  font-weight: 700;
}

@mixin akkurat-regular {
  @include akkurat;
  font-weight: 400;
}
