@use './br.scss';
@use './fonts.scss';

// Size Scale
$hero: 3rem;
$h1: 1.75rem;
$h2: 1.25rem;
$h3: .875rem;
$p1: .938rem;
$p2: .8125rem;

@mixin hero {
  @include fonts.akkurat-bold;
  font-size: $hero;
  font-weight: 800;
  line-height: 110%;
  display: block;

  @include br.size(sm) {
    font-size: 6rem;
  }

  @include br.size(md) {
    font-size: 6.25rem;
    display: inline;
  }

  @include br.size(lg) {
    line-height: 105%;
  }
}

@mixin h1 {
  @include fonts.akkurat-black;
  font-size: $h1;
  line-height: 135%;

  @include br.size(md) {
  }
}

@mixin h2 {
  @include fonts.akkurat-bold;
  font-size: $h2;
  line-height: 135%;

  @include br.size(md) {
  }
}

@mixin h3 {
  @include fonts.akkurat-bold;
  font-size: $h3;
  line-height: 135%;

  @include br.size(md) {
  }
}

@mixin p1 {
  @include fonts.akkurat-regular;
  font-size: $p1;
  line-height: 150%;

  @include br.size(md) {
  }
}

@mixin p2 {
  @include fonts.akkurat-bold;
  font-size: $p2;
  line-height: 150%;

  @include br.size(md) {
  }
}

@mixin footnote {
  @include fonts.akkurat-regular;
  font-size: .6875rem;
  line-height: 135%;
}
