@use "styles/abstracts/_br.scss";
@use "styles/abstracts/_typeface.scss";
@use "styles/abstracts/_colors.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .TitleBar {
      @include typeface.h1;
      font-weight: 700;
      font-size: 60px;
      line-height: 1;
      color: colors.$text-headline;
    }

    .User {
      display: flex;
      align-items: center;
      margin: 16px 0;

      .Avatar {
        border-radius: 50%;
        border: 2px solid colors.$text-headline;
        margin: 0 4px 0 0;
      }

      .Username {
        @include typeface.h2;
      }
    }

    .FormWrapper {
      width: 100%;

      .Form {
        display: flex;
        flex-direction: column;

        & > div:not(:last-child) {
          margin-bottom: 16px;
        }

        .ButtonContainer {
          margin: 0 auto;
        }
      }
    }
  }

  .Confirmation {
    width: 80%;
    border-radius: 1rem;
    padding: 0.2rem 4rem;
    border: 4px solid colors.$text-headline;

    @include br.size(md) {
      width: 60%;
    }

    @include br.size(lg) {
      width: 40%;
    }

    .Wording {
      @include typeface.h1;
      color: colors.$text-headline;
    }
  }
}
