@use 'styles/abstracts/_br.scss';

.Container {
  margin-top: -22px;

  @include br.size(sm) {
    row-gap: 64px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, max-content);
    gap: 64px 24px;
    margin-top: 0;
  }
  @include br.size(lg) {
    row-gap: 80px;
  }
}
