@use 'styles/abstracts/_brpoint.scss';

.card {
  width: calc(50% - 8px);
  margin-right: 16px;
  margin-bottom: 16px;

  &:nth-child(even) {
    margin-right: 0;
    @include brpoint.size(sm) {
      margin-right: 24px;
    }
  }

  &:last-child {
    @include brpoint.size(sm) {
      margin-right: 0;
    }
  }

  @include brpoint.size(sm) {
    width: calc(25% - 18px);
    margin-right: 24px;
    margin-bottom: 0px;
  }
  
  .cardImage {
    width: 100%;

    span {
      padding: 0 !important;
    }

    img {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .labelContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 0 0;

    .name {
      // TODO: replace font with variable
      margin: 0;
      padding: 0 0 8px 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #152E4A;

      @include brpoint.size(md) {
        font-size: 21px;
        line-height: 25px;
      }
    }

    .details {
      // TODO: replace font with variable
      margin: 0;
      font-family: 'Goudy Old Style', serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #152E4A;
      
      @include brpoint.size(md) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
