@use 'styles/abstracts/_br.scss';

.Hero {
  width: 100%;
  padding: 0;
  @include br.size(sm) {
    padding: 0;
  }
  @include br.size(md) {
    padding: 48px 0 0 0;
    font-size: 48px;
  }

  @include br.size(lg) {
    padding: 80px 0 0 0;
    font-size: 80px;
  }
}