@use "styles/abstracts/_typeface.scss";
@use "styles/abstracts/_colors.scss";

.Post {
  width: 60%;
  height: auto;
  margin: 48px auto;
  padding: 32px;
  border: 1px solid colors.$text-headline;
  border-radius: 16px;

  .TitleBar {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 16px 0;

    .Title {
      @include typeface.h2;
      color: colors.$text-headline;
    }

    .Details {
      display: flex;
      align-items: center;

      .Creation {
        margin: auto auto auto 8px;
      }
    }
  }

  .Content {
    margin: 0 auto 16px auto;
  }

  .BottomBar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    @include typeface.h3;
    margin: 0 0 32px 0px;

    .Likes {
      margin: 0 16px 0 0;
    }
  }

  .ButtonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Anchor {
      height: 22px;
      width: 22px;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;

        // TODO: fix animation
        // .Arrow {
        //     animation: right 0.8s ease 1;
        //   }
        }

        .Arrow {
          transform: rotate(90deg);
          box-sizing: border-box;
          position: relative;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid;
          border-radius: 20px;

        &::before {
          content: '';
          display: block;
          box-sizing: border-box;
          position: absolute;
          top: 4px;
          width: 2px;
          height: 10px;
          left: 8px;
          background: #000;
        }

        &::after {
          content: '';
          display: block;
          box-sizing: border-box;
          position: absolute;
          top: 4px;
          width: 6px;
          height: 6px;
          border-top: 2px solid;
          border-left: 2px solid;
          transform: rotate(45deg);
          left: 6px;
        }
      }
    }
  }
}

@keyframes right {
  25% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(0px);
  }
}
