@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';

.Post {
  width: 60%;
  height:  auto;
  margin: 48px auto;
  padding: 32px;
  border: 1px solid colors.$text-headline;
  border-radius: 16px;

  .TitleBar {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 16px 0;

    .Title {
      @include typeface.h2;
      color: colors.$text-headline;
    }

    .Details {
      display: flex;
      align-items: center;

      .Creation {
        margin: auto auto auto 8px;
      }
    }
  }

  .Content {
    margin: 0 auto 16px auto;
  }

  .BottomBar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    @include typeface.h3;
    margin: 0 0 32px 0px;

    .Likes {
      margin: 0 16px 0 0;
    }
  }

  .ButtonWrapper {
    display: flex;
    justify-content: space-between;

    .Details {
      @include typeface.h3;
    }
  }
}
