@use 'styles/abstracts/_br.scss';
@use 'styles/abstracts/_colors.scss';

.container {
  width: 100%;
  text-align: center;
  margin: 40px auto 64px;

  @include br.size(md) {
    margin: 40px auto 80px;
  }

  @include br.size(md) {
    margin: 48px auto 120px;
  }

  @include br.size(lg) {
    margin: 80px auto 120px;
  }

  .ampersand {
    font-family: 'AkkuratLL', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 135%;
    color: colors.$text-headline;
    margin: 24px 0;

    @include br.size(sm) {
      margin: 40px auto 24px;
    }

    @include br.size(md) {
      font-size: 90px;
      margin-bottom: 40px;
    }
  }

  .emojis {
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    white-space: pre-line;

    br {
      display: none;
    }

    @include br.size(sm) {
      br {
        display: block;
      }
    }

    @include br.size(md) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .text {
    margin: 24px auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    text-align: center;
    color: colors.$text-paragraph;

    @include br.size(sm) {
      font-size: 24px;
    }
    
    @include br.size(md) {
      font-size: 34px;
      margin: 40px auto;
    }

    @include br.size(lg) {
      font-size: 38px;
      margin: 40px auto;
    }
  }

  .employees {
    @include br.size(md) {
      width: 80%;
    }
  }

  .jobDescriptions {
    @include br.size(md) {
      width: 90%;
    }
  }
}
