@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';

.input {
  position: relative;

  .label {
    @include typeface.p3;
    color: colors.$input-blue;
    position: absolute;
    top: 30px;
    left: 24px;
    transition: all .15s ease-in-out;
  }

  .field {
    width: 100%;
    min-height: 178px;
    padding: 30px 24px;
    background-color: colors.$background;
    @include typeface.p1;
    color: colors.$text-paragraph;
    border: none;
    border-radius: 8px;
    resize: none;
    overflow: hidden;

    &:focus-visible {
      outline: none;
    }
  }

  &.active {
    .label {
      color: colors.$input-blue;
      top: 16px;
    }

    .field {
      padding-top: 42px;
      padding-bottom: 18px;
    }
  }
}
