@use 'styles/abstracts/_br.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_typeface.scss';

.container {
  background-color: colors.$background;
  border-radius: 8px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include br.size(xl) {
    max-width: 1280px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;

    @include br.size(lg) {
      margin-bottom: 24px;
    }
  }

  .toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom .2s ease-in-out;

    @include br.size(md) {
      padding: 24px 48px;
    }

    @include br.size(lg) {
      padding: 26px 37px 26px 48px;
    }

    .details {
      pointer-events: none;

      p {
        @include typeface.subhead;
        color: colors.$text-headline;
        user-select: none;
      }

      h2 {
        @include typeface.h2;
        margin: 4px 0 0;

        @include br.size(md) {
          margin: 8px 0 0;
        }
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      background-color: colors.$grey;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      pointer-events: none;
      transition: all .2s ease-in-out;
    }
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in-out;

    .description {
      padding: 32px 16px 0;

      @include br.size(md) {
        padding: 64px 64px 0;
      }

      @include br.size(lg) {
        padding: 64px 96px 0;
      }

      h3 {
        @include typeface.h3;
        color: colors.$text-headline;
        margin-bottom: 8px;
      }

      p {
        @include typeface.p1;
        color: colors.$text-paragraph;
        margin-bottom: 24px;

        @include br.size(md) {
          margin-bottom: 48px;
        }
      }

      ul {
        list-style: none;
        @include typeface.p1;
        color: colors.$text-paragraph;
        margin-bottom: 24px;

        @include br.size(md) {
          margin-bottom: 48px;
        }
      }

      ul li::before {
        content: "\2022";
        color: colors.$text-paragraph;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: .2em;
      }
    }

    .actions {
      padding: 0px 16px 32px;

      @include br.size(md) {
        padding: 0px 64px 64px;
      }

      @include br.size(lg) {
        padding: 0px 96px 64px;
      }
    }
  }
}
