@use 'styles/abstracts/_brpoint.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_typeface.scss';


.ButtonField {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  h3 {
    margin: 0;
    color: colors.$text-headline;
    text-align: center;
    @include typeface.h1;
  }

  @include brpoint.size(sm) {
    padding: 64px 0;
  }
  @include brpoint.size(md) {
    padding: 118px 0;
  }

  &.blue {
    background: colors.$blue;
  }

  &.pink {
    background: colors.$pink;
  }

  &.coral {
    background: colors.$peach;
  }

  &.green {
    background: #F6FFF0;
  }
  &.lineargreen {
    background: linear-gradient(264.27deg, #D3FF6F 0%, #9AFFDB 95.8%);
  }
  &.purplepink {
    background: linear-gradient(270deg, #FFD2BA 0%, rgba(39, 34, 251, 0.64) 100%);

    h3 {
      color: white;
    }
  }

}
