@use 'styles/abstracts/_fonts.scss';
@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_brpoint.scss';

.Container {
  padding-top: 40px;
  @include brpoint.size(sm) {
    width: 100%;
    margin: 0 0 32px 0;
    padding-top: 34px;
  }

  @include brpoint.size(md) {
    width: 100vw;
    margin: 0px 0 64px -64px;
    padding-top: 90px;
  }

  @include brpoint.size(lg) {
    margin: 0px 0 80px -120px;
    padding-top: 30px;
  }

  @include brpoint.size(xl) {
    width: 100%;
    margin-left: auto;
    max-width: 1440px;
    padding-top: 0px;
  }

  .Headline {
    @include typeface.intro;
    color: colors.$text-paragraph;
    text-align: center;
    margin: 0 auto 24px;

    @include brpoint.size(sm) {
      margin: 0 auto 32px;
      max-width: 673px;
    }

    @include brpoint.size(md) {
      margin: 0 auto 64px;
    }
  }

  .Tools {
    & > a {

      margin-bottom: 16px;
      @include brpoint.size(md) {
        border-bottom: 1px solid colors.$grey;
        margin-bottom: 0px;
        &:first-child {
          border-top: 1px solid colors.$grey;
        }
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}
