@use "styles/abstracts/_typeface.scss";
@use "styles/abstracts/_colors.scss";

.Like {
  margin: 8px auto;
  display: flex;

  .Avatar {
    border-radius: 50%;
    border: 2px solid colors.$text-headline;
    margin: 0 4px 0 0;
  }

  .Username {
    @include typeface.p1;
  }
}
