@use 'styles/abstracts/_fonts.scss';
@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_brpoint.scss';

.Container {
  display: flex;
  flex-flow: column;
  transition: all .1s ease-in-out;
  border-radius: 4px;
  position: relative;
  @include brpoint.size(md) {
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    border-radius: 0;
  }

  &:hover {
    @include brpoint.size(md) {
      p {
        color: colors.$text-headline;
      }
      div svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  &.green {
    background-color: colors.$pink;

    h1 {
      color: colors.$text-headline;
    }

    p {
      color: colors.$text-headline;
      @include brpoint.size(md) {
        color: colors.$text-paragraph;
      }
    }

    svg {
      path {
        fill: colors.$text-headline;
        @include brpoint.size(md) {
          fill: colors.$grey;
        }
      }
    }

    @include brpoint.size(md) {
      background-color: transparent;
      &:hover {
        background-color: colors.$pink;

        h1 {
          color: colors.$text-headline;
        }

        p {
          color: colors.$text-headline;
        }

        svg {
          path {
            fill: colors.$text-headline;
          }
        }
      }
    }
  }

  &.coral {
    background: linear-gradient(270deg, #FFD2BA 0%, rgba(39, 34, 251, 0.64) 100%);

    h1 {
      color: white;
      @include brpoint.size(md) {
        color: colors.$text-headline;
      }
    }

    p {
      color: white;
      @include brpoint.size(md) {
        color: colors.$text-paragraph;
      }
    }

    svg {
      path {
        fill: white;
        @include brpoint.size(md) {
          fill: colors.$grey;
        }
      }
    }

    @include brpoint.size(md) {
      background: transparent;
      &:hover {
        background: linear-gradient(270deg, #FFD2BA 0%, rgba(39, 34, 251, 0.64) 100%);

        h1 {
          color: white;
        }

        p {
          color: white;
        }

        svg {
          path {
            fill: white;
          }
        }
      }
    }
  }

  &.pink {
    &:hover {
      background-color: colors.$pink;
    }
  }

  &.blue {
    &:hover {
      background-color: colors.$blue;
    }
  }

  padding: 24px;
  @include brpoint.size(sm) {
    padding: 32px;
  }

  @include brpoint.size(md) {
    padding: 41px 64px;
  }

  @include brpoint.size(md) {
    padding: 41px 64px;
  }

  @include brpoint.size(xl) {
    padding: 41px 84px 41px 84px;
  }


  h1 {
    @include fonts.akkurat-black;
    font-size: 36px;
    line-height: 135%;
    color: colors.$text-headline;

    @include brpoint.size(sm) {
      min-width: 195px;
    }

    @include brpoint.size(md) {
      font-size: 62px;
      min-width: 305px;
    }
  }

  p {
    @include typeface.p2;
    color: colors.$text-paragraph;

    @include brpoint.size(md) {
      margin: 0 16px 0 24px;
      width: 43%;
    }

    @include brpoint.size(md) {
      margin-left: 40px;
    }

    @include brpoint.size(xl) {
      width: 50%;
    }
  }

  div {
    width: 24px;
    position: absolute;
    right: 24px;
    top: 37px;

    @include brpoint.size(md) {
      width: 56px;
      height: 56px;
      position: relative;
      top: auto;
      right: auto;
    }

    @include brpoint.size(md) {
      width: 56px;
    }

    svg {
      @include brpoint.size(md) {
        position: absolute;
        top: 0;
        right: 0;
        transition: all ease-in-out 0.3s;
      }
      width: 100%;
      height: 100%;
    }
  }
}
