@use 'styles/abstracts/_fonts.scss';
@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_brpoint.scss';

.container {
  margin-bottom: 73px;
  margin-top: -40px;

  @include brpoint.size(sm) {
    margin-top: 0;
  }

  .inner {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    padding-bottom: 20px;

    &::-webkit-scrollbar{
      background-color: #E8EBEE;
      border: 4px solid white;
      border-radius: 10px;
      width: 2px;
    }

    &::-webkit-scrollbar-thumb{
      background-color: #71849D;
      border-radius: 10px;
      height: 1px;
      border: 4px solid white;
    }

    @include brpoint.size(md) {
      display: flex;
      overflow: visible;
    }

    @include brpoint.size(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .customer {
      width:90px;
      height: auto;
      margin:10px;
      flex-shrink: 0;
  
      @include brpoint.size(sm) {
        flex: 1 0 100px;
      }
  
      @include brpoint.size(md) {
        flex: 1 0 16.6%;
        margin: 0 auto 60px;
        display: flex;
        justify-content: center;
      }
  
      .imageContainer {
        max-width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        @include brpoint.size(sm) {
          max-width: 100px;
        }
  
        @include brpoint.size(md) {
          max-width: 130px;
        }
  
        @include brpoint.size(xl) {
          max-width: 160px;
        }
      }
    }
  }
}
