@use 'styles/abstracts/_br.scss';
@use 'styles/abstracts/_colors.scss';

// TODO: Delete
.AuthSimulator, .LoadingSimulator {
  padding: 1em;
  border-radius: 3rem;
  color: red;
  border: red 1px solid;
  margin: 0 auto 8px;

  &:hover {
    cursor: pointer;
  }
}

.Container {
  width: calc(100% - 48px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include br.size(sm) {
    width: calc(100% - 64px);
  }

  @include br.size(md) {
    width: calc(100% - 128px);
  }

  @include br.size(lg) {
    width: calc(100% - 240px);
  }

  @include br.size(xl) {
    max-width: 1440px;
  }

  .Overlay {
    width: 100%;
    height: 100%;

    .OverlayBackground {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 99;

      .OverlayContent {
        position: absolute;
        padding: 32px 32px 48px 32px;
        background-color: #fff;
        width: 820px;
        height: calc(90vh);
        border-radius: 3em;
        z-index: 10;
        top: 56px;
        left: 50%;
        transform: translate(-50%, 0%);
        overflow: scroll;
        // TODO: make responsive

        .CloseButton {
          width: 100%;
          height: 48px;
          display: flex;
          justify-content: flex-end;

          .CloseIcon {
            font-size: 48px;
            padding: 4px;
            top: 18px;
            position: absolute;
            color: colors.$text-paragraph;

            &:hover {
              color: colors.$text-headline;
            }
          }
        }
      }
    }
  }

  .SinglePostWrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
}
