@use 'styles/abstracts/_br.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_typeface.scss';

.container {
  margin: 48px auto;

  @include br.size(sm) {
    margin: 56px auto 48px;
  }
  
  @include br.size(md) {
    margin: 90px auto 80px;
  }
}

.textBox {
  color: colors.$text-paragraph;

  @include typeface.intro;

  @include br.size(md) {
    width: calc(100% - 72px);
  }

  @include br.size(lg) {
    width: calc(100% - 112px);
  }

  @include br.size(xl) {
    width: calc(100% - 360px);
  }
}
