@use 'styles/abstracts/_br.scss';

.teamSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 32px auto 0;

  @include br.size(sm) {
    margin: 40px auto 0;
  }
  
  @include br.size(md) {
    margin: 48px auto 0;
  }

  @include br.size(lg) {
    margin: 80px auto 0;
  }
}
