@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_fonts.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_br.scss';

.Container {
  padding: 32px 0 0;

  @include br.size(sm) {
    padding: 48px 0 0;
  }

  @include br.size(lg) {
    padding: 80px 0 0;
  }
}

.H2 {
  @include typeface.h2;
  color: colors.$text-headline;
  margin: 40px 0 4px 0;
}

.H3 {
  @include typeface.h3;
  color: colors.$text-paragraph;
  margin: 16px 0px 8px 0px;
}

.P1 {
  @include typeface.p1;
  color: colors.$text-paragraph;
  margin: 0 0 24px 0;
}

.P2 {
  @include typeface.p2;
  color: colors.$text-paragraph;
  margin: 0 0 24px 0;
}





