@use 'styles/abstracts/_fonts.scss';
@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_brpoint.scss';

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.Container {
  background-color: colors.$background;
  padding: 32px;
  cursor: pointer;
  border-radius: 8px;

  h3 {
    @include typeface.subhead;
    color: colors.$text-headline
  }

  p {
    @include typeface.h2;
    margin-top: 8px;
    color: colors.$text-headline
  }

  .button {
    margin-top: 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;

    &.learmore {
      width: 178px;
      height: auto;

      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 51px;
        height: 51px;
        background: colors.$text-headline;
        border-radius: 50px;

        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;

          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            background: none;
            display: flex;
            width: 56px;
            justify-content: center;
          }
        }
      }

      .buttontext {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: colors.$background;
        @include fonts.akkurat-bold;
        font-size: 16px;
        line-height: 51px;
        text-align: center;
        opacity: 0;
      }
    }
  }
  &:hover {
    @include brpoint.size(md) {
      .button.learmore {
        .icon {
          opacity: 0;
        }

        .circle {
          width: 100%;
          border-radius: 60px;
        }

        .buttontext {
          opacity: 1;
        }
      }
    }
  }
}
