@use 'styles/abstracts/_fonts.scss';
@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_brpoint.scss';

.Container {
  margin: 0 -24px;
  @include brpoint.size(md) {
    margin: 0 auto;
  }
  .Headline {
    @include typeface.intro;
    color: colors.$text-paragraph;
    text-align: center;
    margin: 0 auto 24px;

    @include brpoint.size(sm) {
      margin: 0 auto 32px;
      max-width: 673px;
    }

    @include brpoint.size(md) {
      margin: 0 auto 64px;
    }
    @include brpoint.size(xl) {
      padding-top: 70px;
    }
  }
}

.swiperContainer {
  position: relative;
}

.swiperWrapper {
}

.Swiper {
  // overflow: visible !important;
}