.effect {
    opacity: 0;
    transform: translate3d(0, 20vh, 0);
    transition: opacity 1s ease-out, transform .6s ease-out;
  
    &.compat-mode {
      transition: all .65s ease-out;
    }
  
    &.visible {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }