@use 'styles/abstracts/_typeface.scss';
@use 'styles/abstracts/_fonts.scss';
@use 'styles/abstracts/_colors.scss';
@use 'styles/abstracts/_brpoint.scss';

.container {
  display: flex;
  justify-content: center;
  margin: 65px auto 0;
  flex-direction: column;

  @include brpoint.size(md) {
    flex-direction: row;
    column-gap: 48px;
  }

  @include brpoint.size(xl) {
    flex-flow: row;
    margin: 100px auto 0;
  }

  .contactDetails {
    width: 100%;
    padding: 0;
  
    @include brpoint.size(xl) {
      width: 50%;
    }
  
    a {
      @include typeface.h1;
      font-size: 21px;
      color: colors.$text-headline;
      margin: 0;
      display: block;
  
      @include brpoint.size(sm) {
        @include typeface.h1
      }
  
      &:not(:last-child) {
        margin-bottom: 16px;
  
        @include brpoint.size(sm) {
          margin-bottom: 24px;
        }
  
        @include brpoint.size(md) {
          margin-bottom: 32px;
        }
      }
    }
  }

  .offices {
    width: 100%;
    display: flex;
    margin-top: 32px;
    column-gap: 8px;
  
    @include brpoint.size(sm) {
      margin-top: 40px;
    }
  
    @include brpoint.size(md) {
      margin-top: 0;
    }
  
    @include brpoint.size(xl) {
      width: 50%;
    }
  
    .office {
      width: 50%;
      margin: 0;
      
      @include brpoint.size(md) {
        margin-top: 18px;
      }
      
      h4 {
        @include typeface.h2;
        color: colors.$text-headline;
        margin: 0 0 16px 0;
      
        @include brpoint.size(md) {
          margin: 0 0 29px 0;
        }
      }
      
      p {
        @include typeface.p1;
        color: colors.$text-paragraph;
      }
    }
  }
}
