.container {
  position: relative;
  padding-left: 44px;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #152E4A;

  .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-color: #C4C4C41F;
    border-radius: 8px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      width: 12px;
      height: 12px;
      inset: 10px;
      background-color: #152E4A;
      border-radius: 3px;
    }
  }

  &:hover .input ~ .checkmark {
    background-color: #C4C4C42F;
  }

  .input:checked ~ .checkmark {
    &:after {
      display: block;
    }
  }
}
